@using Mercoplano.Simplex.Server.MvcUI.Controllers;
@{
    ViewBag.Title = BaseMvc.GetLabel("Simplex", (Int16)ViewBag.LanguageId);
}

<div class="row">

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
        <h2>@BaseMvc.GetLabel("OperationalResearch", (Int16)ViewBag.LanguageId)</h2>
        <p>
            @BaseMvc.GetLabel("The term ´Operational Research´ was first used during World War II, when research teams have sought to develop methods and mathematical models to solve certain problems of military operations. The success of these applications led the academic and business world to seek to use the techniques then created to solve problems of management and related areas.", (Int16)ViewBag.LanguageId)

        </p>
        <p>
            @BaseMvc.GetLabel("If your knowledge of some big company do the distribution of products without the use of an operational research tool (and not a few), seriously suspicious of his administration. (COLIN, 2007)", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("The PO (Operations Research), there is already more than 60 years and many of the applications which are more than 50 years still remain what is best in terms of known management technology. They use algorithms and mathematical models, among these linear programming.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("Linear programming is nothing more than an improvement of a technique of solving systems of linear equations via inversions successive arrays, with the advantage of incorporating a representative additional linear equation of a given behavior that should be optimized.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("Its diffusion is mainly due to the team of scientists led by the American George B. Dantzing, convened by the World War II Allies in the early 40´s, to provide technical support for decision-making involving the optimal distribution of troops between different battle fronts. The result of this research effort, completed in 1947 and later published (Dantzig, 1963), gave the name of Simplex Method - whose algorithm being played by this site.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("The simplex has been then the most cited and commented on the most specialized literature algorithm, as well as the most played in linear programming software. of related algorithms efficiency improvements could be observed only from the beginning of the 80s, through work done by Nerendra Karmarkar K. (1984), Indian mathematician AT & t´s Bell Laboratories in New Jersey, United States.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("Whatever the algorithm, the formulation of the problem to be solved by linear programming following a few basic steps. First, we should set a goal, a problem be solved and that will certainly be surrounded by some restrictions.", (Int16)ViewBag.LanguageId)
        </p>

        <p>
            @BaseMvc.GetLabel("For example: a hostel manager offers single room, double room and shared room and must decide how many of each type accommodation must provide to achieve the greatest profits in the carnival holiday.", (Int16)ViewBag.LanguageId)
        </p>

        <p>
            @BaseMvc.GetLabel("The objective function should set the value of the package for each type of accommodation. There may be restrictions on the type number of guests per room type (many people that the installation can withstand) maximum amount of rooms by type as well as the maintenance cost per unit and the maximum amount available to cover these costs.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("The resulting mathematical model of the problem our example, set formed by the equation goal and inequalities constraints, is what we call linear programming. The simplex algorithm already mentioned is a technology that allows the resolution of the problem.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("This site performs these calculations; the ´Z´ line features in the ´value´ profit for the optimal solution, successive Xn lines also present in the ´value´ amounts assessed the types of accommodation and any remaining restrictions - amounts that are not being used to composing solution.", (Int16)ViewBag.LanguageId)
        </p>
        <p>
            @BaseMvc.GetLabel("In the site menu, ´Example´ tab is presented this optimization scenario Hostel and Inn where visitors can test their own values, including sensitivity analysis - changes the suggestion in values and quantities of rooms and constraints to improve mathematical model and consequently the profit.", (Int16)ViewBag.LanguageId)
        </p>

        <p><a class="btn btn-default" href="/BestPriceHostel/Play">@BaseMvc.GetLabel("Sample", (Int16)ViewBag.LanguageId) &raquo;</a></p>
        
        <p>
            <h4><strong>@BaseMvc.GetLabel("BIBLIOGRAPHY", (Int16)ViewBag.LanguageId)</strong></h4>
        </p>
        <p>
            ANDRADE, Eduardo. Introdução à Pesquisa Operacional, Métodos e Modelos para Análise de Decisões. 4. Edição. Rio de Janeiro. Editora LTC. 2009.
        </p>
        <p>
            CAIXETA-FILHO, JOsé Vicente. Pesquisa Operacional: técnicas de otimização aplicadas a sistemas agroindustriais. 2. Ed – São Paulo.  Editora Atlas. 2004.
        </p>
        <p>
            COLINS, Emerson C. Pesquisa Operacional, 170 Aplicações em Estratégia, Finanças, Logística, Produção, Marketing e Vendas. Rio de Janeiro. Editora LTC. 2011.
        </p>     
        <p>
            DANTZIG, George B. Linear programming and extentions. Princeton, Princeton University Press . 1963.
        </p>

    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
