@using Mercoplano.Simplex.Server.MvcUI.Controllers;
@{
    ViewBag.Title = BaseMvc.GetLabel("HomePage", (Int16)ViewBag.LanguageId);
}

<div class="jumbotron">
    <h1>Mercoplano Simplex Play</h1>
    <p class="lead">@BaseMvc.GetLabel("MercoplanoSimplexPlayIsAFreeWebApplicationForBuildingLinearProgramming", (Int16)ViewBag.LanguageId)</p>
    <p><a href="/Simplex/Play" class="btn btn-primary btn-large">@BaseMvc.GetLabel("StartNow", (Int16)ViewBag.LanguageId) &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="col-md-4">
        <h2>@BaseMvc.GetLabel("GettingStarted", (Int16)ViewBag.LanguageId)</h2>
        <p>@BaseMvc.GetLabel("ThisApplicationForSimplexAlgorithmCalculationIsFreeOnlyForAcademicPurposes", (Int16)ViewBag.LanguageId).
         @BaseMvc.GetLabel("TheAuthorIsNotLiableForResultsAssociatedForOtherPurposes", (Int16)ViewBag.LanguageId).
        </p>
        <p><a class="btn btn-default" href="/Simplex/Play">@BaseMvc.GetLabel("ModelingNow", (Int16)ViewBag.LanguageId) &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Simplex 2016-01 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1847611814626404"
             data-ad-slot="6069916587"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>