@using Mercoplano.Simplex.Server.MvcUI.Controllers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="description" content="Social News">
    <meta name="keywords" content="Calendário PIS 2016, Restituição, Bolsa Familia, Nota Fiscal Paulista, eSocial,  Receita Federal, Brasil, CPF, SPC, Serasa, Imposto de Renda, Restituição, Limpar Nome, Regularizar CPF">
    <meta name="author" content="Laerte Nascimento">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72650624-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mercoplano.com", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(BaseMvc.GetLabel("Home", (Int16)ViewBag.LanguageId), "Index", "Home")</li>
                    <li>@Html.ActionLink(BaseMvc.GetLabel("Optimize", (Int16)ViewBag.LanguageId), "Play", "Simplex")</li>
                    <li>@Html.ActionLink("Desentupidora", "Index", "Desentupidora")</li>
                    <li>@Html.ActionLink(BaseMvc.GetLabel("Price", (Int16)ViewBag.LanguageId), "Play", "BestPriceHostel")</li>
                    <li>@Html.ActionLink(BaseMvc.GetLabel("News", (Int16)ViewBag.LanguageId), "News", "RFB")</li> 
                    <li>@Html.ActionLink(BaseMvc.GetLabel("About", (Int16)ViewBag.LanguageId), "About", "Home")</li>
                    <li>@Html.ActionLink(BaseMvc.GetLabel("Contact", (Int16)ViewBag.LanguageId), "Contact", "Home")</li>
                    <li>@Html.ActionLink(BaseMvc.GetLabel("Language", (Int16)ViewBag.LanguageId), "Change", "Language")</li>
                </ul>
                <!-- Html.Partial("_LoginPartial")-->
            </div>
        </div>
    </div>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mercoplano</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>